<div class="filter-container">
  <mat-form-field class="filter">
    <input matInput
           type="text"
           placeholder="Filter..."
           (keyup)="doFilter($event.target.value)">
  </mat-form-field>
</div>
<mat-table [dataSource]="tasks"
           matSort>
  <ng-container matColumnDef="id">
    <mat-header-cell mat-header-cell
                     *matHeaderCellDef
                     mat-sort-header
                     class="id"> id# </mat-header-cell>
    <mat-cell *matCellDef="let element"
              class="id"> {{element.id }} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="title">
    <mat-header-cell mat-header-cell
                     *matHeaderCellDef
                     mat-sort-header
                     class="title"> Title </mat-header-cell>
    <mat-cell *matCellDef="let element"
              class="title"> {{element.title }} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="description">
    <mat-header-cell mat-header-cell
                     *matHeaderCellDef
                     mat-sort-header
                     class="description"> Description </mat-header-cell>
    <mat-cell *matCellDef="let element"
              class="description"> {{element.description}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="priority">
    <mat-header-cell mat-header-cell
                     *matHeaderCellDef
                     mat-sort-header>Priority</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-icon-button
              (click)="onPriorityChage(element)"
              matTooltip="Change {{element.priority}}"
              aria-label="Change the Priority of the task"
              class="btn-state"
              [color]=getColor(element.priority) >
        <mat-icon class="mat-18">priority_high</mat-icon>

      </button>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="state">
    <mat-header-cell mat-header-cell
                     *matHeaderCellDef
                     mat-sort-header>State</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-icon-button
              (click)="onStateChage(element)"
              matTooltip="Change state"
              aria-label="Change the state of the task"
              class="btn-state">
        <ng-template [ngIf]="element.state === 'started'"
                     [ngIfElse]="completed">
          <mat-icon class="mat-18"
                    title="started">work_outline</mat-icon>
        </ng-template>
        <ng-template #completed>
          <mat-icon class="mat-18"
                    title="completed">work</mat-icon>
        </ng-template>

      </button>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="update">
    <mat-header-cell mat-header-cell
                     *matHeaderCellDef>Update</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <a mat-icon-button
         aria-label="Update this task"
         matTooltip="Update task"
         [routerLink]="['edit', element.id]"
         class="router-link">
        <mat-icon class="mat-18"
                  title="update task">system_update_alt</mat-icon>
      </a>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="delete">
    <mat-header-cell mat-header-cell
                     *matHeaderCellDef>Delete</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-icon-button
              aria-label="Delete this task"
              matTooltip="Delete task"
              (click)="onDelete(element.id)"
              class="btn-delete">
        <mat-icon class="mat-18">delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator #paginator
               [length]="100"
               [pageSize]="10"
               [pageSizeOptions]="[1, 5, 10, 25, 100]">
</mat-paginator>
