<mat-nav-list class="side-nav-list">
  <a mat-list-item
     routerLink="/"
     routerLinkActive="active"
     class="side-nav-list-item">
    <mat-icon aria-hidden="false"
              aria-label="App logo icon"
              class="item-icon">home</mat-icon>
    Home
  </a>
  <a mat-list-item
     routerLink="/tasks"
     routerLinkActive="active"
     class="side-nav-list-item">
    <mat-icon aria-hidden="false"
              aria-label="logo for tasks route"
              class="item-icon">work</mat-icon>
    Tasks
  </a>
</mat-nav-list>
