@import 'core/variables';
@import 'core/mixins';
.container {
    display: flex;
    align-items: center;
    background-color: var(--primary);
    .side-nav-toggle-button {
        color: var(--primary-text);
    }
    .logo {
        display: flex;
        align-items: center;
    }
    img {
        width: 12rem;
    }
}

@include mq($lg) {
    .side-nav-list {
        padding-top: 0;
        .side-nav-list-item {
            height: 4.8rem;
            &.active {
                background: var(--sidenav-links-active-bg);
            }
            .item-icon {
                margin-right: 1rem;
            }
        }
    }
}
@include mq($sm) {
    .container {
        img {
            width: 10rem;
        }
    }
}
