@import 'core/variables';
@import 'core/mixins';
.test {
    width: 96rem;
    height: 100rem;
    background-color: $primary;
}
.header {
    display: block;
    position: relative;
    z-index: 3;
}
.side-nav-container {
    position: absolute;
    top: var(--header-height);
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.side-nav {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

@include mq($lg) {
    .side-nav {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 24rem;
        max-width: 100%;
    }
}
