@import './variables';
*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-size: 62.5%; // 1rem = 10px
}
body {
    margin: 0;
    font-family: $font-default;
}
.container {
    width: 100%;
    max-width: $xl;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--spacer);
    padding-right: var(--spacer);
    @include transition(padding);
}
.desktop {
    display: block;
}
.mobile {
    display: none;
}
@include mq($lg) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
}
