:root {
    --primary: #673ab7;
    --primary-text: #fff;
    --primary-bg: #fff;
    --secondary-text: rgba(0, 0, 0, 0.87);

    --small-spacer: 1rem;
    --spacer: 2rem;
    --big-spacer: 3rem;

    --header-height: 6.4rem;
}

@include mq($lg) {
    :root {
        --small-spacer: 0.5rem;
        --spacer: 1rem;
        --big-spacer: 1.5rem;
    }
}

@include mq($md) {
    :root {
        --header-height: 5.6rem;
    }
}
@include mq($sm) {
    :root {
    }
}
