@import '~@angular/material/core/theming/_palette';
@import './mixins';
// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

// breakpoints
// https://material.io/design/layout/responsive-layout-grid.html#breakpoints
$min: 320px;
$sm: 479px; // large handset
$md: 719px; // small tablet
$lg: 959px; // large tablet
$xl: 1280px; // desktop

$spacer: 10px;

// Font families
$font-default: Roboto, 'Helvetica Neue', sans-serif;
$headings-font-family: $font-default;

$primary: map-get(
    $map: $mat-deep-purple,
    $key: 500,
);
$primary-text: #fff;
$primary-bg: #fff;
$secondary-text: rgba(0, 0, 0, 0.87);
$primary-text: $light-primary-text;
$secondary-text: $dark-primary-text;
