<mat-toolbar color="primary">
  <div class="container">
    <button mat-icon-button
            class="side-nav-toggle-button"
            aria-label="Toggle sidenavigation button"
            (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="/"
       class="logo">

      <img src="./assets/images/logo.svg"
           alt="logo image">
    </a>
    <div class="nav">
      <a routerLink="/tasks"
         routerLinkActive="active"
         class="nav-link">
        Tasks
      </a>
    </div>
  </div>
</mat-toolbar>
