<div class="wrapper">
  <div class="headline">
    <h1>Make your life easier,
      <strong>Create your tasks</strong>
      and schedule your day.</h1>
    <a mat-raised-button
       [routerLink]="['/tasks','add']"
       matTooltip="Add Task"
       aria-label="Navigate to add new task page"
       color="primary">Create new task</a>
  </div>
  <div class="image-wrapper">
    <img src="./assets/images/welcome.gif"
         alt="image encouraging for creating a task"
         class="desktop">
    <img src="./assets/images/welcome.jpg"
         alt="image encouraging for creating a task"
         class="mobile">
  </div>
</div>
