<mat-toolbar color="primary">
  <header class="container">
    <button mat-icon-button
            class="side-nav-toggle-button"
            aria-label="Toggle sidenavigation button"
            (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="/"
       class="logo">

      <img src="./assets/images/logo.svg"
           alt="logo image">
    </a>
    <nav class="nav">
      <a routerLink="/"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}"
         aria-label="Link to home"
         class="nav-link">
        Home
      </a>
      <a routerLink="/tasks"
         routerLinkActive="active"
         aria-label="Link to tasks"
         class="nav-link">
        Tasks
      </a>
      <a routerLink="/projects"
         routerLinkActive="active"
         aria-label="Link to projects"
         class="nav-link">
        Projects
      </a>
    </nav>
  </header>
</mat-toolbar>
