@import 'core/variables';
@import 'core/mixins';
.wrapper {
    display: flex;
    flex-flow: row nowrap;
    min-height: calc(100vh - #{var(--header-height)});
    background-color: var(--primary-bg);
    .headline {
        width: 40%;
        padding-top: 15rem;
        padding-left: var(--big-spacer);

        h1 {
            max-width: 20ch;
        }
    }
    .image-wrapper {
        width: 60%;
        img {
            width: 100%;
        }
    }
}

@include mq($lg) {
    .wrapper {
        flex-flow: column nowrap;
        .headline {
            width: auto;
            align-self: center;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            padding-top: 5rem;
            padding-left: 0;
            h1 {
                text-align: center;
            }
            a {
                width: min-content;
            }
        }
        .image-wrapper {
            width: auto;
            align-self: center;
        }
    }
}
@include mq($md) {
    .wrapper {
        .headline {
            h1 {
                font-size: clamp(2rem, 8vw, 3.2rem);
                line-height: 1.333;
            }
        }
    }
}
